.borda-customizada {
    border: 2px solid #2c3034; /* Cor e espessura da borda desejadas */
  }

  .form-check-input[type="radio"] {
    border: 2px solid #333; /* Cor e espessura do contorno desejados */
    border-radius: 50%; /* Para tornar o contorno circular */
    width: 20px; /* Largura desejada da bolinha */
    height: 20px; /* Altura desejada da bolinha */
  }

  input[type="radio"]:checked + label {
    font-weight: bold;
    color: #007bff; /* Cor desejada */
  }